h1{
    text-align: center;
    background-color: darkorange;
}
body{
    background-color: wheat;
}
@media(min-width:992px){
.div1{
    width: 402px;
    height: auto;
    background-color:rgb(238, 196, 118);
    float: left;
    margin:10px;
    border: 2px solid black;
}
.div2{
     width: 402px;
    height: auto;
    background-color:rgb(238, 196, 118);
    float: left;
    margin:10px;
    border: 2px solid black;
}
.chicken{
    width: 148px;
    height: 28px;
    background-color: hotpink;
    float: right;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
     font-family: Andale Mono, monospace;
    

}
.blank{
    width: 250px;
    height: 30px;
    background-color: rgb(238, 196, 118);
    float: left;
    

}
.blank2{
    width: 250px;
    height: 30px;
    background-color: rgb(238, 196, 118);
    float: left;
    
    

}
.Beef{
    width: 148px;
    height: 28px;
    color:wheat;
    background-color:rgb(139, 13, 13);
    float: right;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
     font-family: Andale Mono, monospace;
}
.Sushi{
     width: 148px;
    height: 28px;
    
    background-color:rgb(206, 206, 112);
    float: right;
    text-align: center;
    border-left: 3px solid black;
    border-bottom: 2px solid black;
     font-family: Andale Mono, monospace;
}
.content{
    padding: 10px;
     font-family: Andale Mono, monospace;
}
}
@media(min-width:768px) and (max-width:992px)
{
.div1{
    width: 402px;
    height: auto;
    background-color:rgb(238, 196, 118);
    float: left;
    margin:10px;
    border: 2px solid black;
}
.div2{
     width: 831px;
    height: auto;
    background-color: rgb(238, 196, 118);
     float: left;
    margin:10px;
    border: 2px solid black;
}
.chicken{
    width: 148px;
    height: 28px;
    background-color: hotpink;
    float: right;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
     font-family: Andale Mono, monospace;
    

}
.blank{
    width: 250px;
    height: 30px;
    background-color: rgb(238, 196, 118);
    float: left;
}
.blank2{
    width: 681px;
    height: 30px;
    background-color: rgb(238, 196, 118);
    float: left;
    

}
.Beef{
    width: 148px;
    height: 28px;
    color:wheat;
    background-color:rgb(139, 13, 13);
    float: right;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
     font-family: Andale Mono, monospace;
}
.Sushi{
     width: 129px;
    height: 28px;
    
    background-color:rgb(206, 206, 112);
    float: right;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
     font-family: Andale Mono, monospace;
}
.content{
    padding: 10px;
     font-family: Andale Mono, monospace;
}

}
@media(max-width:767px){
.div1{
    width: 402px;
    height: auto;
    background-color: rgb(238, 196, 118);
    float: left;
    margin:10px;
    border: 2px solid black;
}
.div2{
     width: 402px;
    height: auto;
    background-color: rgb(238, 196, 118);
    float: left;
    margin:10px;
    border: 2px solid black;
}
.chicken{
    width: 148px;
    height: 28px;
    background-color: hotpink;
    float: right;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
     font-family: Andale Mono, monospace;
    

}
.blank{
    width: 250px;
    height: 30px;
    background-color: rgb(238, 196, 118);
    float: left;
    

}
.blank2{
    width: 250px;
    height: 30px;
    background-color: rgb(238, 196, 118);
    float: left;
    

}
.Beef{
    width: 148px;
    height: 28px;
    color:wheat;
    background-color:rgb(139, 13, 13);
    float: right;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
     font-family: Andale Mono, monospace;
}
.Sushi{
     width: 148px;
    height: 28px;
    
    background-color:rgb(206, 206, 112);
    float: right;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
     font-family: Andale Mono, monospace;
}
.content{
    font-family: Andale Mono, monospace;
    padding: 10px;
}
}